<!-- -->
<% if user_signed_in? %>
  <% if current_user.is_admin? %>

  <% else %>
    <!-- Muestra todos los nombres de amigos-->
    <% current_user.friendships.each do |friendship| %>
    	<p><%= friendship.friend.username %></p>

    <% end %>
  <% end %>
<% end %>