
<div class="row">
  <div class="col-md-3">
    <% if user_signed_in? %>
      <% @posts.each do |posts| %>
        <h1><%= link_to posts.title, posts %></h1>
        <div>
          <%= posts.body %> - <%= link_to "Eliminar", posts, method: :delete %>
        </div>
      <% end %>
    <% else %>
      <p>
        Barra izquierda
      </p>
    <% end %>
  </div>
  <div class="col-md-6">
  	<h1>Bienvenido a Photolog</h1>
  	<% if user_signed_in? %>
      <p>Hola <%= current_user.email %>, Esta es la página principal de Photolog</p>
    <% else %>
		  <p>Esta es la página principal de Photolog</p>
    <% end %>

  </div>
  <div class="col-md-3">Barra der</div>
</div>


