<div class="row">
	<div class="col-md-3">
		<%= render "partials/barraizq" %>
	</div>

	<div class="col-md-6">

		<%= render "partials/generalpost" %>
		
	</div>

	<div class="col-md-3">
	    <%= render "partials/barrader" %>
	</div>
</div>